<?xml version="1.0"?>
<!--
    Note: As an alternative to hand editing this file you can use the
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in
    machine.config.comments usually located in
    \Windows\Microsoft.Net\Framework\v2.x\Config
-->
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
  <appSettings>
    <add key="PasswordComplexity" value="^.*(?=.{10,})(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[~`!@#$%^+=*()-_.]).*$"/>
    <add key="serviceAccountUsername" value="web-signup"/>
    <add key="serviceAccountPassword" value="SLFsrv1ce"/>
  </appSettings>
  <connectionStrings>
    <remove name="SqlWebEventProvider"/>
    <add name="SQLDEV" connectionString="Data Source=SQL;Initial Catalog=ASPNETRoleProvider;Persist Security Info=True;Integrated Security=SSPI" providerName="System.Data.SqlClient"/>
    <add name="DeltaMasterCS" connectionString="Data Source=SQL;Initial Catalog=ERP;Integrated Security=SSPI" providerName="System.Data.SqlClient"/>
    <add name="ASPNETRoleProviderConnectionString" connectionString="Data Source=SQL;Initial Catalog=ASPNETRoleProvider;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.2" />
      </system.Web>
  -->
  <system.web>
    <!--
            Set compilation debug="true" to insert debugging
            symbols into the compiled page. Because this
            affects performance, set this value to true only
            during development.

            Visual Basic options:
            Set strict="true" to disallow all data type conversions
            where data loss can occur.
            Set explicit="true" to force declaration of all variables.
        -->
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.5">
      <buildProviders>
        <add extension=".asbx" type="Microsoft.Web.Services.BridgeBuildProvider"/>
      </buildProviders>
      <assemblies>
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <namespaces>
        <clear/>
        <add namespace="System"/>
        <add namespace="System.Collections"/>
        <add namespace="System.Collections.Specialized"/>
        <add namespace="System.Configuration"/>
        <add namespace="System.Text"/>
        <add namespace="System.Text.RegularExpressions"/>
        <add namespace="System.Web"/>
        <add namespace="System.Web.Caching"/>
        <add namespace="System.Web.SessionState"/>
        <add namespace="System.Web.Security"/>
        <add namespace="System.Web.Profile"/>
        <add namespace="System.Web.UI"/>
        <add namespace="System.Web.UI.WebControls"/>
        <add namespace="System.Web.UI.WebControls.WebParts"/>
        <add namespace="System.Web.UI.HtmlControls"/>
        <add namespace="System.DirectoryServices"/>
      </namespaces>
      <controls>
        <add namespace="Microsoft.Web.UI" assembly="Microsoft.Web.Atlas" tagPrefix="atlas"/>
        <add namespace="Microsoft.Web.UI.Controls" assembly="Microsoft.Web.Atlas" tagPrefix="atlas"/>
      </controls>
    </pages>
    <!--
            The <authentication> section enables configuration
            of the security authentication mode used by
            ASP.NET to identify an incoming user.
        -->
    <authentication mode="None"/>
    <customErrors mode="Off"/>
    <healthMonitoring enabled="true" heartbeatInterval="10">
      <providers>
        <add name="exampleMailWebEventProvider" type="System.Web.Management.SimpleMailWebEventProvider" to="webadmin@delta.edu" from="help@delta.edu" buffer="false" subjectPrefix="WebEvent has fired"/>
      </providers>
      <rules>
        <clear/>
        <add name="Failure Audits Default" eventName="All Errors" provider="exampleMailWebEventProvider" profile="Default" minInstances="1" maxLimit="Infinite" minInterval="00:00:10" custom=""/>
        <add name="Application Lifetime Events" eventName="Application Lifetime Events" provider="exampleMailWebEventProvider" profile="Default" minInstances="1" maxLimit="Infinite" minInterval="00:01:00" custom=""/>
        <add name="Request Processing Events" eventName="Application Lifetime Events" provider="exampleMailWebEventProvider" profile="Default" minInstances="1" maxLimit="Infinite" minInterval="00:01:00" custom=""/>
      </rules>
      <eventMappings>
        <clear/>
        <add name="All Events" type="System.Web.Management.WebBaseEvent,        System.Web,Version=2.0.0.0,Culture=neutral,         PublicKeyToken=b03f5f7f11d50a3a" startEventCode="0" endEventCode="2147483647"/>
        <add name="Heartbeats" type="System.Web.Management.WebHeartbeatEvent,  System.Web,Version=2.0.0.0,Culture=neutral,       PublicKeyToken=b03f5f7f11d50a3a" startEventCode="0" endEventCode="2147483647"/>
        <add name="Application Lifetime Events" type="System.Web.Management.WebApplicationLifetimeEvent,        System.Web,Version=2.0.0.0,Culture=neutral,        PublicKeyToken=b03f5f7f11d50a3a" startEventCode="0" endEventCode="2147483647"/>
        <add name="Request Processing Events" type="System.Web.Management.WebRequestEvent,  System.Web,Version=2.0.0.0,Culture=neutral,          PublicKeyToken=b03f5f7f11d50a3a" startEventCode="0" endEventCode="2147483647"/>
        <add name="All Errors" type="System.Web.Management.WebBaseErrorEvent,        System.Web,Version=2.0.0.0,Culture=neutral,          PublicKeyToken=b03f5f7f11d50a3a" startEventCode="0" endEventCode="2147483647"/>
        <add name="Infrastructure Errors" type="System.Web.Management.WebErrorEvent,          System.Web,Version=2.0.0.0,Culture=neutral,          PublicKeyToken=b03f5f7f11d50a3a" startEventCode="0" endEventCode="2147483647"/>
        <add name="Request Processing Errors" type="System.Web.Management.WebRequestErrorEvent,          System.Web,Version=2.0.0.0,Culture=neutral,          PublicKeyToken=b03f5f7f11d50a3a" startEventCode="0" endEventCode="2147483647"/>
        <add name="All Audits" type="System.Web.Management.WebAuditEvent,          System.Web,Version=2.0.0.0,Culture=neutral,          PublicKeyToken=b03f5f7f11d50a3a" startEventCode="0" endEventCode="2147483647"/>
        <add name="Failure Audits" type="System.Web.Management.WebFailureAuditEvent, System.Web,Version=2.0.0.0,         Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" startEventCode="0" endEventCode="2147483647"/>
        <add name="Success Audits" type="System.Web.Management.WebSuccessAuditEvent,          System.Web,Version=2.0.0.0,Culture=neutral,          PublicKeyToken=b03f5f7f11d50a3a" startEventCode="0" endEventCode="2147483647"/>
      </eventMappings>
    </healthMonitoring>
  </system.web>
  <system.net>
    <mailSettings>
      <!--<smtp deliveryMethod="Network">
        <network host="exchmail.delta.edu" port="25" defaultCredentials="true" />
      </smtp>-->
    </mailSettings>
  </system.net>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="start.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>