/*-----------------------------------------------------------------------------
Master Style Sheet

version:   1.0
author:    Chad Michael
email:     chadmichael@delta.edu
website:   www.delta.edu
date:      11/16/2016

Copyright 2016 Delta College - All Rights Reserved
-----------------------------------------------------------------------------*/

/* -- cm -- */
body {
    display: block;
    margin: 0 !important;
}

/***** Headings *****/
h1,
h3,
h4,
h5,
h6 {
    color: #00704a;
    font-weight: normal !important;
}

h1 {
    font-family: TrendSlabOne;
    color: #00704a !important;
    letter-spacing: -3.2px;
    font-size: 36px !important;
    line-height: 39.6px;
    font-weight: 700;
    height: 39.6px;
}

h2 {
    font-size: 32px;
    font-family: TrendSlabOne;
    letter-spacing: -3.2px;
    color: #7ac142 !important;
    line-height: 38.4px;
    font-weight: 700;
}

h3 {
    font-family: TrendSlabOne;
    font-size: 12pt !important;
    letter-spacing: -.2rem !important;
    color: #00704a !important;
    font-weight: normal !important;
}

li {
    font-size: 12pt !important;
    font-family: myriad-pro;
}

#btnSubmit,
td,
#Label1,
#lblDeltaID,
#lblDeltaIDExample,
#lblBirthDate,
#lblPassword,
#lblssn {
    font-size: 19px !important;
    font-family: myriad-pro;
}

#CenterInfo > div > div:nth-child(2) {
    margin-top: -2em;
}

p {
    font-size: 16pt;
    cursor: default;
    /*line-height: 2rem !important;*/
    font-family: myriad-pro;
    display: block;
    color: rgb(43, 43, 43);
    font-stretch: normal;
    /*font-style: normal;
    font-variant-caps: normal;*/
    /*font-variant-ligatures: normal;
    font-variant-numeric: normal;*/
    font-weight: normal;
    /*height: 100px;*/
    line-height: 25.512px;
    /*margin-bottom: 16px;*/
    text-align: left;
    word-wrap: break-word;
    -webkit-margin-after: 16px;
    -webkit-margin-before: 0px;
    -webkit-margin-end: 0px;
    -webkit-margin-start: 0px;
}

.indent,
#indent {
    margin-left: 200px;
    /*padding-top: 2em;*/
}
/*debug border on all divs*/
div {
    border: none;
    /*border: 1px solid #ccc;*/
}

#PinTable {
    margin-left: 5.5em;
}

/* Class for clearing floats */
.clear {
    clear: both;
}

/*@media screen and (-webkit-min-device-pixel-ratio:0) {
    body > div > div > a {
        padding-left: 5em; /* on Safari and Chrome  */
}

/*@media screen and (-webkit-min-device-pixel-ratio:0) {
    body > div > div > a > img {
        padding-top: 3em; /* on Safari and Chrome
    }*/

img {
    /*width: 14em;
    height: 10em;
    margin-right: 4.4em;*/
    /*background: url(../images/DeltaLogo.png) no-repeat scroll center center;*/
    /*background-image: url('../images/DeltaLogo.png');*/
    /* Remove border around linked images and fix Firefox odd spaces */
    /*border: 0;
    background: url('../images/DeltaLogo.png') no-repeat scroll center center;*/
}

/* Remove border around linked images and fix Firefox odd spaces
    /*border: 0;
    vertical-align: middle;*/

/*background: url('../images/DeltaLogo.png') no-repeat scroll center center;*/
/*position: relative;
    background-image: url('../images/DeltaLogo.png');
    background-position: center center;
    background-repeat: repeat-x;
    display: -webkit-inline-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;*/
}

#form1 > div:nth-child(7) > table > tbody > tr > td > table > tbody > tr > td > div > div > h3 {
    margin-top: 1.5em;
    margin-bottom: -1.5em;
    font-size: 12pt;
    padding-left: 8em;
}

#maintable {
    margin-left: 200px;
}

/*#form1 > div:nth-child(6) > table > tbody > tr > td > table > tbody > tr > td {
    padding: 2.5em 0 3em 5em;
    border: 2px black;
}*/

table {
    border-spacing: 0;
    border-collapse: collapse;
}

/*#form1 > div:nth-child(7) > table > tbody > tr > td > table > tbody > tr > td > div > table,
#form1 > div:nth-child(6) > table {
    margin: 2.5em 0 3.5em 6em;
}*/

.input {
    border: black;
}

td {
    text-align: left;
    font-weight: normal;
}

* {
    border: none;
}

/*#form1 > div:nth-child(3) {
    margin-left: 8em;
}*/

a {
    color: #00704A !important;
    font-size: 15pt !important;
    line-height: 2.5rem !important;
    /*font-family: myriad-pro, sans-serif !important;*/
}

    a:visited {
        color: #00704A !important;
    }

    a:hover {
        color: #7ac142 !important;
    }

#Eraug > ol > li {
    font-size: 12pt;
    padding: .3em 0 .15em 0;
    /*font-family: myriad-pro !important;*/
}

#Eraug {
    /*margin-left: 3.5em;*/
    line-height: 1.5;
}

header, section, footer, aside, nav, main, article, figure {
    display: block;
}

.Absolute-Center {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.link {
    padding-top: 30px;
    padding-bottom: 30px;
}

#l:before, #r:before {
    content: "";
    width: 125px;
    height: 250px;
    /*font-family: myriad-pro !important;*/
}

#l:before {
    float: right;
}

#r:before {
    float: left;
}

/*#form1 > div:nth-child(7) > table > tbody > tr > td > table > tbody > tr > td > div > div > h1 {
    margin-left: 1em;
}*/

.page-wrap {
    min-height: 100%;
    /* equal to footer height */
    margin-bottom: -142px;
}

    .page-wrap:after {
        content: "";
        display: block;
    }

    .site-footer, .page-wrap:after {
        height: 142px;
    }

body > footer {
    background: #00704A;
    border-top: 8px solid #7ac142;
    height: 15em;
    width: 100%;
    /*margin-top: 4em;*/
}

    body > footer > div {
        background: #7ac142;
    }

    body > footer > p {
        color: white;
        padding-top: 2em;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        font-size: 12pt;
        font-family: myriad-pro;
        font-style: normal;
    }

.center-me {
    margin: 0 auto;
}

/***** Common Formatting *****/

ul,
ol {
    margin: 0;
    padding: 0 0 1.25em 0;
}

ul,
ol {
    padding: 0 0 1.25em 1em;
}

blockquote {
    margin: 1.25em;
    padding: 1.25em 1.25em 0 1.25em;
}

small {
    font-size: 0.85em;
}

sup {
    position: relative;
    bottom: 0.3em;
    vertical-align: baseline;
}

sub {
    position: relative;
    bottom: -0.2em;
    vertical-align: baseline;
}

acronym,
abbr {
    cursor: help;
    letter-spacing: 1px;
    border-bottom: 1px dashed;
}

/***** Links *****/

a,
a:link,
a:visited,
a:hover {
    text-decoration: underline;
}

/***** Forms *****/

form {
    padding: 0;
    display: inline;
}

input,
select,
textarea {
    font: 1em Arial, Helvetica, sans-serif;
}

textarea {
    width: 100%;
    line-height: 1.25;
}

label {
    cursor: pointer;
}

/***** Tables *****/

table {
    border: 0;
    margin: 0;
    padding: 0;
}

    table tr td {
        padding: 2px;
    }

/***** Wrapper *****/

#wrap {
    width: 960px;
    margin: 0 auto;
}

/***** Global Classes *****/

/*.clear {
    clear: both;
}*/

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.underline {
    border-bottom: 1px solid;
}

.highlight {
    background: #ffc;
}

.wrap {
    width: 960px;
    margin: 0 auto;
}

.img-left {
    float: left;
    margin: 4px 10px 4px 0;
}

.img-right {
    float: right;
    margin: 4px 0 4px 10px;
}

.nopadding {
    padding: 0;
}

.noindent {
    margin-left: 0;
    padding-left: 0;
}

.nobullet {
    list-style: none;
    list-style-image: none;
}

/* -- cm -- */
/*a {
    color: #00704A !important;
}

    a:visited {
        color: #00704A !important;
    }

    a:hover {
        color: #7ac142 !important;
    }*/

/*header, section, footer, aside, nav, main, article, figure {
    display: block;
}

.Absolute-Center {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}*/

.footer {
    background: #00704A;
    border-top: 8px solid #7ac142;
    height: 15em;
    width: 100%;
    margin-top: 4em;
}

    .footer > div {
        background: #7ac142;
    }

    .footer > p {
        color: white;
        padding-top: 2em;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        font-size: 12pt;
        font-family: myriad-pro;
        font-style: normal;
    }

tbody > tr > td > table {
    border: none;
}

#aspnetForm > table > tbody > tr > td > table {
    width: 100%;
    border: none;
}

.alignleft {
    float: left;
}

.alignright {
    float: left;
}

.makecenter {
    text-align: center;
}

.alignleft,
.alignright {
    padding: 1em 1em 0 0;
}

#aspnetForm > table {
    width: 100%;
    border: none;
}

#ctl00_ctl00_contentMain_contentMain_ddSchools > option {
    color: black !important;
    font-weight: normal;
}

.clearfix:after {
    content: "";
    clear: both;
    display: table;
}

div.title.myriadPro > p {
    /*font-family: myriad-pro !important;*/
    font-size: 14pt;
    font-weight: bold;
    float: left;
    margin: 0 0 1em 6.2em;
}

.title {
    margin-left: 5em;
    margin-bottom: 3rem;
}

.course-title {
    text-align: center;
    font-size: 18px;
    font-weight: bolder;
    letter-spacing: 1px;
    color: #00704A;
    padding: 1.5em 0 .6em .25em;
    /*font-family: myriadPro-bold !important;*/
}

/*.dbGrid-transferCourses,
.dbGrid-deltaCourses {
    width: 48%;
    float: left;
    height: auto;
    border: none;
    margin-left: 1em;
}*/

/*.dbGrid {
    display: inline-block;
    width: 89.8em;
    margin-top: 10px;
    height: auto;
    background: #E1E1E1;
}

.dbGrid-transferCourses {
    float: left;
    height: inherit;
}

.dbGrid-deltaCourses {
    float: left;
    height: inherit;
}

.gbGrid-transferCourses > div {
    margin-left: 1em;
}*/

#BottomTable,
#TopTable {
    width: 65%;
}

#form1 > div:nth-child(3) > table > tbody > tr > td > table > tbody > tr > td > div.container.myriadProBold > table > tbody > tr > td > div > p {
    font-size: 12pt;
    /*font-family: myriad-pro !important;*/
}

/*.dbGrid-deltaCourses > div {
    padding-left: .5em;
    padding-bottom: 1.5em;
}*/

#TopTable > div > div.panel-body > table,
#BottomTable > div > div.panel-body > table {
    background: #fff;
}

#PanelNoSuccess,
#BottomTable > div,
#TopTable > div,
#NoHeaderTable,
#form1 > h2,
#CenterInfo {
    margin-left: 200px;
}

/*#CenterInfo > div > div:nth-child(3) > p:nth-child(1) {
        padding-top: 2em;
    }

/*#ctl00_ctl00_contentMain_contentMain_ddSchools {
    color: black !important;
}*/

.logo {
    /*background: #273e78 url('../images/DeltaLogo.png') no-repeat scroll center top;
    background-size: 165px 115px;*/
    background-image: url('../images/DeltaLogo.png');
    padding: 5px;
    /*border:1px solid black;*/
    background-repeat: no-repeat;
    margin-left: 11em;
    width: 14em !important;
    height: 8em !important;
    background: #00704A;
    display: flex;
    justify-content: center;
    align-items: center;
    -ms-border-bottom-right-radius: 15px !important;
    -ms-border-bottom-left-radius: 15px !important;
    -webkit-border-bottom-right-radius: 15px;
    -webkit-border-bottom-left-radius: 15px;
    -moz-border-radius-bottomright: 15px;
    -moz-border-radius-bottomleft: 15px;
    border-bottom-right-radius: 15px !important;
    border-bottom-left-radius: 15px !important;
    /*IE 7 AND 8 DO NOT SUPPORT BORDER RADIUS*/
    /*-moz-box-shadow: 0px 0px 20px #000000;
    -webkit-box-shadow: 0px 0px 20px #000000;
    box-shadow: 0px 0px 20px #000000;*/
    /*IE 7 AND 8 DO NOT SUPPORT BLUR PROPERTY OF SHADOWS*/
    /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#00704a', endColorstr = '#3b473c');*/
    /*INNER ELEMENTS MUST NOT BREAK THIS ELEMENTS BOUNDARIES*/
    /*Element must have a height (not auto)*/
    /*All filters must be placed together*/
    /*-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr = '#00704a', endColorstr = '#3b473c')";*/
    /*Element must have a height (not auto)*/
    /*All filters must be placed together*/
    /*background-image: -moz-linear-gradient(top, #00704a, #3b473c);
    background-image: -ms-linear-gradient(top, #00704a, #3b473c);
    background-image: -o-linear-gradient(top, #00704a, #3b473c);
    background-image: -webkit-gradient(linear, center top, center bottom, from(#00704a), to(#3b473c));
    background-image: -webkit-linear-gradient(top, #00704a, #3b473c);
    background-image: linear-gradient(top, #00704a, #3b473c);
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;*/
    background-clip: padding-box;
    /*Use "background-clip: padding-box" when using rounded corners to avoid the gradient bleeding through the corners*/
    /*--IE9 WILL PLACE THE FILTER ON TOP OF THE ROUNDED CORNERS--*/
}

#inputTxtPasswordConfirm,
#inputTxtPassword,
#inputTxtSSN,
#inputTxtDeltaID,
#inputTxtSSN {
    padding: .5em 1em 0 1em;
    border: .1rem solid #2b2b2b;
    width: 160px !important;
    height: 30px;
    background: #fff;
}

#maintable > tbody > tr > td > div > table > tbody > tr > td > div > div > div.panel-body {
    padding-top: 30px;
}

#btnSubmit,
.btnSearch {
    position: relative;
    margin-top: 45px;
    background: #7AC142;
    background-color: #7AC142;
    border: 2px solid #7AC142;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    color: black;
    width: 13em;
    height: 3.75em;
    font-weight: normal;
    letter-spacing: 1.5px;
}

    #btnSubmit:hover,
    .btnSearch:hover {
        background: #46993D;
        background-color: #46993D;
        border: 2px solid #46993D;
    }

#btnSubmit,
.btnSearch,
#ImageButton1 {
    font-family: myriad-pro;
}

#inputTxtPasswordConfirm,
#inputTxtPassword,
#inputTxtSSN,
#inputTxtDeltaID {
    margin-left: 20px;
}

#maintable > tbody > tr > td > div > table > tbody > tr > td > div > div > div.panel-body > table > tbody > tr {
    height: 50px;
}

    #maintable > tbody > tr > td > div > table > tbody > tr > td > div > div > div.panel-body > table > tbody > tr:nth-child(3) > td:nth-child(2) {
        padding-left: 35px;
    }

.header__logo {
    height: 170px;
}

    .header__logo > a {
        height: 155px;
        width: 240px;
    }

.make-xs-column {
    float: none;
    display: inline-block;
    margin: 0 -0.125em;
}

/*.make-sm-column {
                     /*@media (min-width: @screen-sm-min) {
                         float: none; display: inline-block; margin: 0 -0.125em;
                     }*/

/*}

.make-md-column {
                     @media (min-width: @screen-md-min) {
                          float: none; display: inline-block; margin: 0 -0.125em;*/
/*}
}
.make-lg-column {
                     @media (min-width: @screen-lg-min) {
                          float: none; display: inline-block; margin: 0 -0.125em;
                     }
}*/

/*-----  Fonts  ---------*/

/*Use lowercase letters for the font URL. Uppercase letters can give unexpected results in IE!*/
/* Myriad Pro Font */

.myriadPro {
    font-family: myriad-pro;
    font-size: 14pt;
    font-weight: 400;
    font-style: normal;
}

.myriadProBold {
    font-family: myriad-pro-bold;
    font-size: 12pt;
    font-weight: 400;
    font-weight: bolder;
}

.myriadProItalic {
    font-family: myriad-pro-italic;
    font-size: 12pt;
    font-weight: 400;
    font-style: italic;
}

.myriadProSemiBold {
    font-family: myriad-pro-semibold;
    font-size: 12pt;
    font-weight: 400;
    font-weight: bold;
}

.TrendSlabOne {
    font-family: TrendSlabOne;
    font-weight: 400;
    font-style: normal;
}