* {
    margin: 0;
    padding: 0;
    font-size: 9pt;
    font-family: Tahoma;
}

html, body {
    height: 100%;
    overflow: auto;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 10pt;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}

.container {
    width: 65%;
    margin: 0 auto;
}

.body-container {
    margin-left: 15.5em;
    margin-right: 15.5em;
}

div {
    display: block;
}

.page-wrap {
    min-height: 100%;
    /* equal to footer height */
    margin-bottom: -142px;
}

    .page-wrap:after {
        content: "";
        display: block;
    }

    .site-footer, .page-wrap:after {
        height: 142px;
    }

.site-footer {
    background: #00704A;
    border-top: 8px solid #7ac142;
    height: 15em;
    border-bottom: 5px solid black;
    width: 100%;
    bottom: 0;
    margin-top: 2.5em;
}

body > div > footer > p {
    text-align: center;
    color: white;
}

body > footer > p {
    color: white;
    text-align: center;
    padding-top: 2em;
}

.main {
    padding-top: 3em;
    margin-left: 12.5em;
}

.main-top {
    padding-bottom: 1.5em;
}

.header-logo {
    padding: 2em 0 1em 2.2em !important;
}

/* Customize the nav-justified links to fill the entire space of the .navbar */

.nav-justified {
    background-color: transparent;
    border: 1px solid transparent;
    -ms-border-radius: 5px;
    border-radius: 5px;
}

    .nav-justified > li > a {
        padding-top: 15px;
        padding-bottom: 15px;
        margin-bottom: 0;
        font-weight: bold;
        color: #12604F;
        text-align: center;
        background-color: #e5e5e5; /* Old browsers */
        background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#e5e5e5));
        background-image: -webkit-linear-gradient(top, #f5f5f5 0%, #e5e5e5 100%);
        background-image: -o-linear-gradient(top, #f5f5f5 0%, #e5e5e5 100%);
        background-image: linear-gradient(to bottom, #f5f5f5 0%,#e5e5e5 100%);
        -webkit-filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#e5e5e5',GradientType=0 );
        -moz-filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#e5e5e5',GradientType=0 );
        -o-filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#e5e5e5',GradientType=0 );
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
        background-repeat: repeat-x; /* Repeat the gradient */
        border-bottom: 1px solid #12604F;
    }

    .nav-justified > .active > a,
    .nav-justified > .active > a:hover,
    .nav-justified > .active > a:focus {
        background-color: transparent;
        background-image: none;
        -webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.15);
        -ms-box-shadow: inset 0 3px 7px rgba(0,0,0,.15);
        box-shadow: inset 0 3px 7px rgba(0,0,0,.15);
    }

    .nav-justified > li:first-child > a {
        -ms-border-radius: 5px 5px 0 0;
        border-radius: 5px 5px 0 0;
    }

    .nav-justified > li:last-child > a {
        border-bottom: 0;
        -ms-border-radius: 0 0 5px 5px;
        border-radius: 0 0 5px 5px;
    }

@media (min-width: 768px) {
    .nav-justified {
        max-height: 52px;
    }

        .nav-justified > li > a {
            border-right: 1px solid transparent;
            border-left: 1px solid transparent;
        }

        .nav-justified > li:first-child > a {
            border-left: 0;
            border-radius: 5px 0 0 5px;
        }

        .nav-justified > li:last-child > a {
            border-right: 0;
            -ms-border-radius: 0 5px 5px 0;
            border-radius: 0 5px 5px 0;
        }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    /* Remove the padding we set earlier */
    .masthead,
    .marketing,
    .footer {
        padding-right: 0;
        padding-left: 0;
    }
}

.logo {
    width: 17.5em !important;
    height: 9.5em !important;
    background: #00704a !important;
    -ms-border-bottom-right-radius: 15px !important;
    border-bottom-right-radius: 15px !important;
    -ms-border-bottom-left-radius: 15px !important;
    border-bottom-left-radius: 15px !important;
    margin: 0 0 2em 0 !important;
}

.table-responsive {
    overflow-x: auto;
}

/* firefox- specific hack for responsive tables */
@-moz-document url-prefix() {
    fieldset {
        display: table-cell;
    }
}

body > div > header > nav > ul > li > a {
    background: white;
    color: #00704A;
}

body > div > header > nav > ul > li.active > a {
    background: white;
    color: #12604F;
}

li {
    padding: .5em 0 1em 0;
}

.panel-body {
    padding: 9px;
    padding-left: 1.8em;
}

.color-heading {
    background: #808080 !important;
    color: white !important;
    padding-left: 3.5em !important;
}

#BottomTable > div > div.panel-body > table > tbody > tr > td,
#TopTable > div > div.panel-body > table > tbody > tr > td {
    padding-right: 1.5em;
}

.error-heading {
    background: #B84442;
    color: white;
}

.panel-group {
    width: 85em;
}

h4 {
    padding-bottom: .5em;
}

table {
    width: 100%;
}

.pin {
    width: 60em;
    margin: 0 auto;
    /*background: #D1DFD0;*/
}

.pinHeader {
    background: #808080;
    color: #D1DFD0;
    text-align: center;
    padding: .2em 2em 0 2em;
}

.floatRight {
    float: right;
    padding-right: 2em;
}

.verifyTable {
    width: 23em;
    text-align: right;
    padding-right: 1.5em;
}