vti_encoding:SR|utf8-nl
vti_author:SR|DELTA\\lucasstark
vti_modifiedby:SR|DELTA\\lucasstark
vti_timelastmodified:TR|12 Jun 2006 11:06:43 -0000
vti_timecreated:TR|12 Jun 2006 10:54:06 -0000
vti_lineageid:SR|{DAE4020F-F9F9-47EC-8C54-DBE53B652D6C}
vti_extenderversion:SR|5.0.2.6790
vti_backlinkinfo:VX|
vti_nexttolasttimemodified:TW|12 Jun 2006 11:04:12 -0000
vti_cacheddtm:TX|12 Jun 2006 11:06:43 -0000
vti_filesize:IR|3116
